In [1]:
import pandas as pd

In [2]:
data = {'Nome':['Alice','Joao', 'Ana'], 'Idade':[20,30,35]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    Nome  Idade
0  Alice     20
1   Joao     30
2    Ana     35

In [5]:
print(df)

    Nome  Idade
0  Alice     20
1   Joao     30
2    Ana     35