In [1]:
import mysql.connector

In [2]:
import pandas as pd

In [3]:
conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='mysql',
    database='embraer',
)

In [4]:
#abrir uma conexao com banco de dados
cursor = conexao.cursor()

In [6]:
#nome da tabela destino 
nome_tabela = 'teamusa'
consulta_sql = f'SELECT * FROM {nome_tabela}'
cursor.execute(consulta_sql) #executando o script do sql

In [7]:
# fazendo leitura dos registros do banco
dados = cursor.fetchall()
colunas = [i[0] for i in cursor.description] #para ler quantas colunas tiverem
df = pd.DataFrame(dados, columns=colunas)
cursor.close()  #precisa fechar a conexao com banco de dados
conexao.close()
print(df)

                 name team pos    salary  start_year  end_year  years
0     Clayton Kershaw  LAD  SP  33000000        2014      2020      7
1        Zack Greinke  ARI  SP  31876966        2016      2021      6
2         David Price  BOS  SP  30000000        2016      2022      7
3      Miguel Cabrera  DET  1B  28000000        2014      2023     10
4    Justin Verlander  DET  SP  28000000        2013      2019      7
..                ...  ...  ..       ...         ...       ...    ...
863      Steve Selsky  BOS  RF    535000        2017      2017      1
864     Stuart Turner  CIN   C    535000        2017      2017      1
865    Vicente Campos  LAA  RP    535000        2017      2017      1
866     Wandy Peralta  CIN  RP    535000        2017      2017      1
867        Yandy Diaz  CLE  3B    535000        2017      2017      1

[868 rows x 7 columns]