In [1]:
# pip install mysql-connector-python

In [2]:
import mysql.connector
from random import choice, randint

In [3]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'mysql',
    'database': 'embraer'
}

In [4]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

create_table_query = """
    CREATE TABLE IF NOT EXISTS dados_aleatorios (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nome VARCHAR(50),
        idade INT,
        cidade VARCHAR(50)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [5]:
nomes = ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hank']
cidades = ['Nova York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Filad√©lfia']

for _ in range(2000):
    nome = choice(nomes)
    idade = randint(18, 99)
    cidade = choice(cidades)

    insert_query = "INSERT INTO dados_aleatorios (nome, idade, cidade) VALUES (%s, %s, %s)"
    data = (nome, idade, cidade)
    cursor.execute(insert_query, data)

conn.commit()

cursor.close()
conn.close()

In [ ]:
# para pegar dados aleatorios do Mysql (melhor colocar em outro arquivo)

In [6]:
import mysql.connector
import pandas as pd

db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'mysql',
    'database': 'embraer'
}

conn = mysql.connector.connect(**db_config)
select_query = "SELECT * FROM dados_aleatorios"
df = pd.read_sql(select_query,conn)

conn.close()

print(df)

        id   nome  idade       cidade
0        1  Frank     53  Los Angeles
1        2   Hank     26  Los Angeles
2        3  Frank     65    Nova York
3        4    Bob     48      Chicago
4        5   Emma     51      Houston
...    ...    ...    ...          ...
3995  3996   Hank     84      Houston
3996  3997  Grace     35  Los Angeles
3997  3998  David     43      Chicago
3998  3999  Alice     89      Houston
3999  4000   Hank     63      Phoenix

[4000 rows x 4 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_9372\2755430388.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(select_query,conn)